<div class="row">
  <div class="col-md-10 col-md-0ffset-1">
    <h2>Search Product</h2>
    <search-bar (search)="onSearch($event)"></search-bar>
  </div>
</div>
<div class="row">
  <div class="col-md-10 col-md-offset-1">
    <div *ngIf="result.length>0; else noresult">
      <h4>Search result</h4>
      <table class="table table-striped table-condensed table-bordered">
          <tr>
            
            <th>name</th>
            <th>Price</th>
            <th>Mg date</th>
          </tr>
          <tr *ngFor="let p of result; let i=index">
            
           
            <td>{{p.name }} 
            </td>
            <td>
              {{ p.price  }}
            
            </td>
            <td>{{p.mfgDate}}</td>
          </tr>
        </table>
    </div>  
    <ng-template #noresult>no resut found</ng-template>
  </div>
</div>